@import '~bulma/bulma.sass';

h2 {
  color: white;
}

.title-text-font {
  font-size: 70px;
  font-family: 'Bebas Neue', sans-serif;
}

.background-for-home {
  background-image: url('../../public/peakpx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.abilities-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.container {
  display: flex;
}
.agent-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.answer-wrapper {
  border: 1px solid #ececec;
  margin-bottom: 20px;
}
.answer-text {
  background-color: #ececec;
  color: black;
}
.agent-img {
  max-height: 500px;
}

.ability-img {
  height: 128px;
  margin: 5px;
}

.agent-show {
  padding: 2.5%;
}

.hints-container {
  width: 25vw;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.card-image {
  padding: 10px;
}

.ability-list {
  display: flex;
  flex-direction: column;
}
.ability-row {
  display: flex;
  align-items: center;
}
.ability-text {
  display: flex;
  flex-direction: column;
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

#agent-portrait {
  max-height: 85vh;
  width: auto;
}

#hints {
  color: white;
  border: 1px white solid;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.hint-btn {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.showing-hint {
  display: none;
}
.homepage-text {
  padding: 5%;
}

.score-wrapper {
  border: 1px white solid;
  padding: 10px;
  border-radius: 10px;
  height: 60px;
  // max-height: 120px;
  width: 10vw;
  white-space: nowrap;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}
